/* defining custom fonts */
@font-face {font-family: 'Poppins-Regular'; src: url('../public/fonts/Poppins-Regular.ttf'); font-weight:400;}
@font-face {font-family: 'Poppins-Medium'; src: url('../public/fonts/Poppins-Medium.ttf'); font-weight: 500;}
@font-face {font-family: 'Poppins-Bold'; src: url('../public/fonts/Poppins-Bold.ttf'); font-weight: 700;}
@font-face {font-family: 'Poppins-ExtraBold'; src: url('../public/fonts/Poppins-ExtraBold.ttf'); font-weight: 800;}
@font-face {font-family: 'Poppins-SemiBold'; src: url('../public/fonts/Poppins-SemiBold.ttf'); font-weight: 600;}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center; /* Vertically centers content */
  overflow-x: hidden; /* Prevents horizontal scroll */
  font-family: "Poppins", sans-serif;
  background-color: #F5F3EF;
  color: #000000; /* Default text color */
}



/* headings */

h1 {
  font-family: 'Poppins-Medium';
  font-size: 26px;
  font-weight: 500;
}

h1.bold {
  font-family: 'Poppins-Bold';
  font-size: 30px;
  font-weight: 700;
}

h1.logo {
  font-family: 'Poppins-Medium';
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-family: 'Poppins-Medium';
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

h2.bold {
  font-family: 'Poppins-Bold';
  font-size: 20px;
  font-weight: 700;
}

h2.pointnr {
  font-family: 'Poppins-ExtraBold';
  font-size: 40px;
}



/* text */

.txt {
  font-size: 16px;
}

.txt.regular {
  font-family: 'Poppins-Regular', sans-serif;
}

.txt.medium {
  font-family: 'Poppins-Medium', sans-serif;
}

.txt.bold {
  font-family: 'Poppins-Bold', sans-serif;
}

.txt.extrabold {
  font-family: 'Poppins-ExtraBold', sans-serif;
}

.txt.semibold {
  font-family: 'Poppins-SemiBold', sans-serif;
}

.txt.white {
  color: #ffffff;
}



/* buttons */

button {
  border-radius: 1rem;
  border: none;
  background: var(--accent-accent-color-button-color, #456eff);
  display: flex;
  width: 77.5vw;
  padding: 0.75rem 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: var(--text-accent-color-button-color, #ffffff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.start {
  width: 70vw;
}

.bg-white {
  color: var(--text-accent-color-button-color, #000000);
  background: var(--accent-accent-color-button-color, #ffffff);
  font-weight: 400;
}

.bd-black {
  border: 1px solid var(--text-text-color-1, #000);
}

.bd-none {
  border: 0;
}

.disable {
  opacity: 0.6;
  cursor: default;
}

.enable-anim {
  background: linear-gradient(
    to right,
    #456eff 50%,
    rgba(69, 109, 255, 0.6) 50%
  );
  background-size: 200% 100%;
  animation: fillbutton 5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  background-position: right bottom;
}

@keyframes fillbutton {
  to {
    background-position: left bottom;
  }
}



/* containers */

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
  z-index: 2;
}

.logo-container {
  margin-top: 60px;
  padding: 0 24px 0px 24px;
}



/* form */

.form-input {
  width: 77.5vw;
  padding: 16px 18px;
  margin: 10px 0;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box; /* Makes sure padding does not affect the overall width */
}

.form-input:focus {
  border-color: #4a90e2;
  outline: none;
}

.toggle-form-text {
  color: #4a90e2;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

.toggle-form-text:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .questionnaire-item {
    width: 90vw; /* Cards take more width on smaller screens */
  }
}



/* tags */

.tag {
  display: inline-flex;
  align-items: center;
  height: 24px;
  width: auto;
  border-radius: 8px;
  padding: 5px;
}

.tag p {
  margin: 0 2px;
  font-weight: 700;
  font-size: 16px;
}

.tag img {
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

.tag.green {
  background-color: rgba(27, 200, 44, 0.2);
  color: #1BC82C;
}

.tag.green img{
  filter: invert(63%) sepia(24%) saturate(6077%) hue-rotate(83deg) brightness(101%) contrast(89%);
}

.tag.red {
  background-color: rgba(253, 42, 42, 0.2);
  color: #FD2A2A;
}

.tag.red img {
  filter: invert(29%) sepia(50%) saturate(5108%) hue-rotate(344deg) brightness(101%) contrast(108%);
}

.tag.blue {
  background-color: rgba(42, 190, 253, 0.2);
  color: #2ABEFD;
}

.tag.blue img {
  filter: invert(56%) sepia(64%) saturate(591%) hue-rotate(159deg) brightness(101%) contrast(98%);
}

.tag.orange {
  background-color: rgba(255, 158, 12, 0.2);
  color: #FF9E0C;
}

.tag.orange img {
  filter: invert(79%) sepia(49%) saturate(4884%) hue-rotate(352deg) brightness(102%) contrast(102%);
}

.tag.purple {
  background-color: rgba(185, 42, 253, 0.2);
  color: #B92AFD;
}

.tag.purple img {
  filter: invert(21%) sepia(97%) saturate(3716%) hue-rotate(273deg) brightness(105%) contrast(99%);
}

.point {
  display: flex;
  border-radius: 66.84px;
  background-color: #456EFF;
  height: 36px;
  width: 76px;
  justify-content: center;
  align-items: center;
}

.pointlogo {
  height: 16px;
  width: 12px;
  margin-left: 5px;
}
