body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center; /* Vertically centers content */
  overflow-x: hidden; /* Prevents horizontal scroll */
  font-family: "Poppins", sans-serif;
  background-color: #F5F3EF;
  color: #333; /* Default text color */
}

.main-content {
  width: 90%; /* Adjust width as necessary */
  max-width: 800px; /* Max width to avoid very wide layouts on large screens */
  margin: auto; /* Centers in the available horizontal space */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  background-color: #fff; /* Optional for contrasting background */
  border-radius: 8px; /* Optional rounded corners */
}

code {
  font-family: Poppins, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  position: relative; /* Keeps header in normal flow of document */
  top: 0;
  width: 100%; /* Ensures it stretches across the top */
  background-color: #fff; /* Matches theme color */
  z-index: 10; /* Keeps header above other items */
  padding: 1vh 2vw; /* Responsive vertical padding and horizontal padding for text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds subtle shadow below the header */
  text-align: left; /* Aligns the text to the left */
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  padding-top: 60px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px; /* Adjust based on your preference */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none; /* Removes the focus outline */
}

/* Form and form elements styling */
.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Makes sure padding does not affect the overall width */
}

.form-input:focus {
  border-color: #4a90e2;
  outline: none;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #357abd;
}

/* Toggle form link styling */
.toggle-form-text {
  color: #4a90e2;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

.toggle-form-text:hover {
  text-decoration: underline;
}

/* Logout button styling */
.logoutbutton {
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.logoutbutton {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.logout-button:hover {
  background-color: #4a90e2;
  color: white;
}

.open-button {
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.open-button:hover {
  background-color: #357abd;
}

@media (max-width: 768px) {
  .questionnaire-item {
    width: 90vw; /* Cards take more width on smaller screens */
  }
}

/*create page */

/*antwoord pagina*/

/*antwoorden 2 */

.answers-container {
  width: 90%;
  max-width: 100vh; /* Maintains maximum width but allows flexibility */
  margin: auto;
  padding-top: 45vh; /* Increase as needed to prevent clipping with the navbar */
}

.questionnaire-item {
  width: 40vh;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Provides spacing between items */
  padding: 5% 3%; /* Responsive padding */
}

.questionnaire-title {
  font-size: calc(1em + 1vw); /* Responsive font size */
  color: #333;
  margin-bottom: 10px;
}

.open-button {
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  padding: 1.5vh 3vw; /* Responsive padding */
  border-radius: 2vh;
  cursor: pointer;
  display: block; /* Full width */
  width: auto;
  text-align: center;
}

/* Ensures responsiveness */
@media (max-width: 768px) {
  .answers-container {
    padding-top: 120px; /* Adjusts top padding for smaller screens */
  }
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}


/* basic containers */
/* containers that are used in multiple places */

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  /* height: 24.5%; */
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
}

.logo-container {
  margin-top: 60px;
  padding: 0 24px 16px 24px;
}


/* basic headings */
/* headings that are used in multiple places */

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: auto;
}

h1.bold {
  font-size: 30px;
  font-weight: 700;
  line-height: auto;
}

h1.logo {
  font-size: 36px;
  font-weight: 500;
  line-height: auto;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

h2.bold {
  font-size: 20px;
  font-weight: 700;
  line-height: auto;
}


/* basic tags */

.tag {
  display: inline-flex;
  align-items: center;
  height: 24px;
  width: auto;
  border-radius: 8px;
  padding: 5px;
}

.tag p {
  margin: 0 2px;
  font-weight: 700;
  font-size: 16px;
}

.tag img {
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

.tag.green {
  background-color: rgba(27, 200, 44, 0.2);
  color: #1BC82C;
}

.tag.green img{
  filter: invert(63%) sepia(24%) saturate(6077%) hue-rotate(83deg) brightness(101%) contrast(89%);
}

.tag.red {
  background-color: rgba(253, 42, 42, 0.2);
  color: #FD2A2A;
}

.tag.red img {
  filter: invert(29%) sepia(50%) saturate(5108%) hue-rotate(344deg) brightness(101%) contrast(108%);
}

.tag.blue {
  background-color: rgba(42, 190, 253, 0.2);
  color: #2ABEFD;
}

.tag.blue img {
  filter: invert(56%) sepia(64%) saturate(591%) hue-rotate(159deg) brightness(101%) contrast(98%);
}

.tag.orange {
  background-color: rgba(255, 158, 12, 0.2);
  color: #FF9E0C;
}

.tag.orange img {
  filter: invert(79%) sepia(49%) saturate(4884%) hue-rotate(352deg) brightness(102%) contrast(102%);
}

.tag.purple {
  background-color: rgba(185, 42, 253, 0.2);
  color: #B92AFD;
}

.tag.purple img {
  filter: invert(21%) sepia(97%) saturate(3716%) hue-rotate(273deg) brightness(105%) contrast(99%);
}
