/* defining custom fonts */
@font-face {font-family: "Poppins-Regular";src: url("../public/fonts/Poppins-Regular.ttf");font-weight: 400;}
@font-face {font-family: "Poppins-Medium";src: url("../public/fonts/Poppins-Medium.ttf");font-weight: 500;}
@font-face {font-family: "Poppins-Bold";src: url("../public/fonts/Poppins-Bold.ttf");font-weight: 700;}
@font-face {font-family: "Poppins-ExtraBold";src: url("../public/fonts/Poppins-ExtraBold.ttf");font-weight: 800;}
@font-face {font-family: "Poppins-SemiBold";src: url("../public/fonts/Poppins-SemiBold.ttf");font-weight: 600;}

:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F3EF;

  --inputfield-background-color: #F5F5F5;

  --button-color: #456EFF;
  --button-border-color: #E6E6E6;
  --disabled-button-color: #456EFF99;

  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  --tertiary-text-color: #808080;
  --accent-text-color: #456EFF;

  --accent-red-1: #FD2A2A;
  --accent-red-2: #fd2a2a33;
  --accent-green-1: #1BC82C;
  --accent-green-2: #1bc82c33;
  --accent-orange-1: #FF9E0C;
  --accent-orange-2: #ff9e0c33;
  --accent-purple-1: #B92AFD;
  --accent-purple-2: #b92afd33;
  --accent-light-blue-1: #2ABEFD;
  --accent-light-blue-2: #2abefd33;

  --white: #FFFFFF;

  --primary-icon-color: invert(0%) sepia(85%) saturate(7439%) hue-rotate(294deg) brightness(85%) contrast(113%);
}

[data-theme="dark"] {
  --primary-background-color: #292929;
  --secondary-background-color: #222222;
  --inputfield-background-color: #414141;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #000000;
  --button-border-color: #414141;
  --primary-icon-color: invert(100%) sepia(100%) saturate(2%) hue-rotate(69deg) brightness(103%) contrast(101%);
}

/* .high-contrast {

} */


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center; /* Vertically centers content */
  overflow-x: hidden; /* Prevents horizontal scroll */
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color); /* Default text color */
}

/* headings */

h1 {
  font-family: "Poppins-Medium";
  font-size: 26px;
  font-weight: 500;
}

h1.bold {
  font-family: "Poppins-Bold";
  font-size: 30px;
  font-weight: 700;
}

h1.logo {
  font-family: "Poppins-Medium";
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-family: "Poppins-Medium";
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

h2.bold {
  font-family: "Poppins-Bold";
  font-size: 20px;
  font-weight: 700;
}

h2.pointnr {
  font-family: "Poppins-ExtraBold";
  font-size: 40px;
}

h2.logo {
  font-family: "Poppins-Bold";
  font-size: 20px;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 8px;
}

.opacity {
  opacity: 0.4;
}

/* text */

.txt {
  font-size: 16px;
}

.txt.large {
  font-size: 18px;
}

.txt.regular {
  font-family: "Poppins-Regular", sans-serif;
}

.txt.medium {
  font-family: "Poppins-Medium", sans-serif;
}

.txt.bold {
  font-family: "Poppins-Bold", sans-serif;
}

.txt.extrabold {
  font-family: "Poppins-ExtraBold", sans-serif;
}

.txt.semibold {
  font-family: "Poppins-SemiBold", sans-serif;
}

.txt.white {
  color: var(--white);
}

.nomargin {
  margin: 0;
}

/* buttons */

button {
  border-radius: 1rem;
  border: none;
  background: var(--button-color);
  display: flex;
  width: 77.5vw;
  max-width: 312px;
  padding: 0.75rem 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.start {
  width: 70vw;
}

.bg-white {
  color: var(--primary-text-color);
  background: var(--primary-background-color);
  font-weight: 400;
}

.bd-black {
  border: 1px solid var(--primary-text-color);
}

.bd-gray {
  border: 2px solid var(--button-border-color);
}

.bd-none {
  border: 0;
}

.disable {
  opacity: 0.6;
  cursor: default;
}

.enable-anim {
  background: linear-gradient(
    to right,
    var(--button-color) 50%,
    var(--disabled-button-color) 50%
  );
  background-size: 200% 100%;
  animation: fillbutton 5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  background-position: right bottom;
}

@keyframes fillbutton {
  to {
    background-position: left bottom;
  }
}

/* containers */

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  /* height: 24.5%; */
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.logo-points {
  margin-top: 60px;
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

/* form */

.form-input {
  width: 77.5vw;
  padding: 16px 18px;
  margin: 5px 0 20px 0;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box; /* Makes sure padding does not affect the overall width */
  background-color: var(--inputfield-background-color);
}

.form-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.toggle-form-text {
  color: var(--accent-text-color);
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

.toggle-form-text:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .questionnaire-item {
    width: 90vw; /* Cards take more width on smaller screens */
  }
}

/* tags */

.tag {
  display: inline-flex;
  align-items: center;
  height: 24px;
  width: auto;
  border-radius: 8px;
  padding: 5px;
}

.tag p {
  margin: 0 2px;
  font-weight: 700;
  font-size: 16px;
}

.tag img {
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

.tag.green {
  background-color: var(--accent-green-2);
  color: var(--accent-green-1);
}

.tag.green img {
  filter: invert(63%) sepia(24%) saturate(6077%) hue-rotate(83deg)
    brightness(101%) contrast(89%);
}

.tag.red {
  background-color: var(--accent-red-2);
  color: var(--accent-red-1);
}

.tag.red img {
  filter: invert(29%) sepia(50%) saturate(5108%) hue-rotate(344deg)
    brightness(101%) contrast(108%);
}

.tag.blue {
  background-color: var(--accent-light-blue-2);
  color: var(--accent-light-blue-1);
}

.tag.blue img {
  filter: invert(56%) sepia(64%) saturate(591%) hue-rotate(159deg)
    brightness(101%) contrast(98%);
}

.tag.orange {
  background-color: var(--accent-orange-2);
  color: var(--accent-orange-1);
}

.tag.orange img {
  filter: invert(79%) sepia(49%) saturate(4884%) hue-rotate(352deg)
    brightness(102%) contrast(102%);
}

.tag.purple {
  background-color: var(--accent-purple-2);
  color: var(--accent-purple-1);
}

.tag.purple img {
  filter: invert(21%) sepia(97%) saturate(3716%) hue-rotate(273deg)
    brightness(105%) contrast(99%);
}

.point {
  display: flex;
  border-radius: 66.84px;
  background-color: var(--button-color);
  height: 36px;
  width: 76px;
  justify-content: center;
  align-items: center;
}

.pointlogo {
  height: 16px;
  width: 12px;
  margin-left: 5px;
}
