@font-face {font-family: "Poppins-Medium"; src: url("../../public/fonts/Poppins-Medium.ttf"); font-weight: 500;}
@import url('../index.css');

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  /* height: 24.5%; */
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: var(--primary-background-color);
}

/* .logo-points {
  margin-top: 60px;
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
/* .logo{
  font-family: "Poppins-Bold";
  font-size: 20px;
  font-weight: 700;
  margin-right: 60%;
} */
/* h2.logo {
  font-family: "Poppins-Bold";
  font-size: 20px;
  font-weight: 700;
  margin-right: 60%;
} */

.sharedlogo {
  margin-bottom: 20px;
}

.sharedlogo h2 {
  margin-right: 60%;
}

.recieve {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recieve-pointstxt {
  display: inline-flex;
  padding: 1.5rem 0.5rem 0.375rem 0.5rem;
  gap: 0.2rem;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--primary-text-color);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.recieveimg {
  padding-right: 0.5rem;
  filter: var(--primary-icon-color);
}

.pointsnmbr {
  color: var(--accent-text-color);
}

.questionnaire-container {
  max-width: 400px;
}

.questionnaire-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  /* padding-bottom: 5vh; */
  width: 100%;
  max-width: 600px; /* Responsive max width */
  background-color: var(--secondary-background-color);
  height: 55vh;
  padding-top: 10px;
}

.questionnaire-item {
  flex: 0 0 auto; /* Prevent cards from stretching */
  width: 80vw; /* Card width, responsive to viewport width */
  margin: 2vh; /* Margin around the cards */
  background-color: #ffffff;
  border-radius: 2vh; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 4vh; /* Internal spacing */
}

.Stellingcontainer {
  height: 42vh;
  max-width: 60vw;
  margin: auto;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: var(--primary-background-color);
  box-shadow: 0px 0px 6px 0px rgba(151, 151, 151, 0.4);
}

.Title {
  color: var(--primary-text-color);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  height: 22vh;
}

.Tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(27, 200, 44, 0.2);
  width: fit-content;
  color: var(--Interest-tags-Green, #1bc82c);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 20.48px */
}

.CompanyRedirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.Company {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.Imgcompany {
  width: 2.3rem;
  height: 2.3rem;
}

.Companytxt {
  color: #000;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.Arrowimg {
  width: 2.3rem;
  height: 2.3rem;
}

.carousel-nav {
  text-align: center;
  margin: 0.8vh;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.weekly-container {
  position: relative;
  display: flex;
  padding: 0 24px 0px 36px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

