/* Progressbar */

.progressbar {
  width: 100%;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #f5f3ef;
  align-content: center;
  position: relative;
}

.progress {
  border-radius: 1.25rem;
  height: 100%;
  background: var(--Accent-Button-color, #456eff);
  position: absolute;
  top: 0;
  left: 0;
}

.droplet {
  position: absolute;
  top: 50%;
  left: 0; /* Fixed at the start */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dropletgoal {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.scoreText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
}

.scoreText.black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 500;
}

/* Progressbar */

/* Weekly challenge */

.challengebox {
  display: flex;
  width: 80vw;
  max-width: 21.375rem;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1.25rem;
  background: var(--Background-Background, #fff);
  margin-bottom: 2.06rem;
}

.challengerow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challengecolumn {
  display: flex;
  flex-direction: column;
}

.iconcalendar {
  padding: 0.75rem;
}

.points {
  display: flex;
  width: 4.75rem;
  height: 2.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  border-radius: 4.1775rem;
  background: var(--Accent-Button-color, #456eff);
  color: white;
}

/* Weekly challenge */

/* Infoboxes */
.infobox {
  justify-content: left;
  display: flex;
  border-radius: 1.25rem;
  background: var(--Background-Background, #fff);
  padding: 1.25rem;
  align-items: center;
  gap: 0.8125rem;
}

.iconsbox {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

/* Infoboxes */

.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
