.questionnaire-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  max-width: 600px; /* Responsive max width */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questionnaire-container {
  padding: 2vh;
  max-width: 40vh;
}

.questionnaire-item {
  flex: 0 0 auto; /* Prevent cards from stretching */
  width: 80vw; /* Card width, responsive to viewport width */
  margin: 2vh; /* Margin around the cards */
  background-color: #ffffff;
  border-radius: 2vh; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 4vh; /* Internal spacing */
}

.Stellingcontainer {
  height: 42vh;
  width: 60vw;
  margin: auto;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(151, 151, 151, 0.4);
}

.Title {
  color: var(--Zwart, #000);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  height: 22vh;
}

.Tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(27, 200, 44, 0.2);
  width: fit-content;
  color: var(--Interest-tags-Green, #1bc82c);
  text-align: center;
  font-family: Poppins;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 20.48px */
}

.CompanyRedirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.Company {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.Imgcompany {
  width: 2.3rem;
  height: 2.3rem;
}

.Companytxt {
  color: #000;
  font-family: Poppins;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.Arrowimg {
  width: 2.3rem;
  height: 2.3rem;
}

.carousel-nav {
  text-align: center;
  margin: 0.8vh;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
