.coupon-container {
    position: relative;
    width: 87.7vw;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 70px 20px 20px 20px;
    box-sizing: border-box;
    max-width: 470px;
    min-width: 255px;
}

.banner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-radius: 20px 20px 0 0;
    background-color: #00A0E2;
}

.banner .logo {
    height: 70px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.redeem-btn {
    position: relative;
    border: 2px solid var(--text-text-color-1, #E6E6E6);
    padding: 5px 20px;
    transition: background-color 0.3s;
    border-radius: 16px;
    box-sizing: border-box;
    max-width: 330px;
    min-width: 225px;
}

button:disabled {
    cursor: default;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #E6E6E6;
    border-radius: 12px;
}

.reward-container {
    display: flex;
    flex-direction: column;
    height: calc(90vh - 218px);
    margin-top: 118px;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.reward-container::-webkit-scrollbar {
    display: none;
}
  
.reward-container > div {
    width: 100%;
    padding: 10px;
}


/* @media screen and (max-width: 800px) {
    .grid-container {
      grid-template-columns: auto;
    }
  } */




.point-counter {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 306px;
    margin-bottom: 10px;
}

.number-container {
    position: relative;
    padding: 2px;
}

.pbg {
    width: 75px;
    height: auto;
}

.point-container {
    position: absolute;
    top: 0;
    left: 1;
    bottom: 0;
    width: 75px;
    color: #ffffff;
}

.pointnr {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32.5%;
    width: 24px;
    height: 32px;
    justify-content: center;
}

.spointnr {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    width: 24px;
    height: 32px;
}