body {
  background-color: beige;
}

.Stellingcontainer {
  width: 77vw;
  height: 42vh;
  margin: auto;
  /* margin-bottom: 40px; */
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;
  border-radius: 1.25rem;
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(151, 151, 151, 0.4);
}

.Title {
  color: var(--Zwart, #000);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  height: 22vh;
}

.Tag {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(27, 200, 44, 0.2);
  width: fit-content;
  color: var(--Interest-tags-Green, #1bc82c);
  text-align: center;
  font-family: Poppins;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 20.48px */
}

.CompanyRedirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.Company {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.Imgcompany {
  width: 2.3rem;
  height: 2.3rem;
}

.Companytxt {
  color: #000;
  font-family: Poppins;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.Arrowimg {
  width: 2.3rem;
  height: 2.3rem;
}
